* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding-left: 3rem;
  padding-right: 3rem;
}

a:hover {
  color: #db3729;
}

.text2 a:hover {
  color: white;
}

#splash,
#splash img {
  object-fit: cover;
  display: grid;
  height: 100vh;
}

.text1 {
  place-self: center;
  position: absolute;
  border-radius: 15px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  margin-top: -40%;
  font-size: 1rem;
}
.text2 {
  place-self: center;
  position: absolute;
  border-radius: 15px;
  background-color: #db3729;
  color: rgb(255, 255, 255);
  margin-top: 40%;
  font-size: 1rem;
}

a,
h1 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1rem;
}

#om .img {
  padding: 2rem;
  max-width: 300px;
  margin: auto;
  display: block;
}

.txt {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.third_section .txt {
  text-align: center;
}

.first_section h2 {
  padding-bottom: 2rem;
}

.third_section h3 {
  padding: 2rem;
}
.third_section a {
  color: red;
}

.third_section a:hover {
  color: black;
}
p,
a {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}

h3 {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
}
h2 {
  justify-content: center;
  display: flex;
  font-size: 1.7rem;
  padding-top: 1rem;
  font-family: "Nanum Gothic Coding", monospace;
}

h1 {
  color: #db3729;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 3rem;
}

#portfolio .section_wrapper {
  padding-right: 1.5rem;
}

#portfolio img,
.second_section img,
.third_section img {
  padding-left: 3rem;
  padding-right: 3rem;
}

#portfolio img {
  padding-bottom: 0.5rem;
}

#portfolio h2 {
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.second_section img {
  padding-top: 1rem;
}

.third_section img {
  padding-bottom: 1rem;
}

@media (min-width: 750px) {
  .video iframe {
    padding-left: 8rem;
    padding-right: 8rem;
    height: 70%;
  }
  .text1 {
    place-self: center left;
    position: absolute;
    border-radius: 15px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 30%;
    font-size: 1rem;
  }
  .text2 {
    place-self: center right;
    position: absolute;
    border-radius: 15px;
    background-color: #db3729;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-right: 30%;
    font-size: 1rem;
  }

  #portfolio .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    padding-left: 2rem;
    padding-right: 3.5rem;
  }

  #portfolio img {
    padding: 0;
  }

  #om h2 {
    padding: 2rem;
    justify-content: center;
    display: flex;
  }

  .second_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 17px;
    padding: 2rem;
  }

  .third_section img {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 900px) {
  #portfolio .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 20px;
    padding-left: 8rem;
    padding-right: 9.5rem;
  }

  #portfolio img {
    padding: 0;
  }
  #om .section_wrapper {
    display: flex;
  }

  #om .txt {
    order: 1;
    max-width: 60%;
    padding-left: 6rem;
    text-align: start;
  }

  #om .img {
    order: 2;
    max-width: 350px;
    border-left: #db3729;
    border-left-style: solid;
  }

  #om h2 {
    justify-content: left;
    padding-left: 6rem;
  }
}

/* burgermenu */
.toggle-btn {
  display: none;
}

@media (min-width: 600px) {
  ul {
    list-style-type: none;
    padding: 1rem;
    margin-right: 2%;
    text-align: right;
  }

  li {
    display: inline;
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    padding-top: 1rem;
    padding-left: 1.7rem;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-inline-start-style: solid;
    border-width: 3px;
    border-inline-start-color: #db3729;
    display: flex;
    margin-left: 0.1rem;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  ul {
    list-style-type: none;
    padding: 0.5rem;
  }

  ul a:hover {
    color: #db3729;
  }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
